* {
  background-color: #0dcaf0;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
}

.navbar a:hover {
  background: black;
  color: white;
}

router-outlet {
  padding-top: 5px;
}
